torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers==4.54.0
tokenizers==0.21.1
peft==0.15.2
accelerate==1.6.0
safetensors==0.5.3
huggingface-hub==0.30.2
numpy==2.1.2
pandas==2.2.3
scipy
tqdm==4.67.1
datasets==3.5.1
pyarrow==20.0.0
regex
pyyaml
requests
omegaconf==2.3.0
hydra-core
packaging
lightning
pytorch-lightning
vllm==0.10.0
ray
pillow==11.0.0
qwen-vl-utils
sentence-transformers
opencv-python-headless
decord==0.6.0
av==14.3.0
einops==0.8.1
sentencepiece
wandb
matplotlib
python-dotenv
tiktoken
nltk
mathruler
math-verify
sympy
latex2sympy2_extended